.header {
  background-image: url("../icons/bg-header-desktop.svg");
  height: 15.6rem;
  background-color: var(--desaturated-dark-cyan);
}

.main {
  min-height: 100vh;
  height: auto;
}

.section {
  padding: 0 10rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
}

@media only screen and (max-width: 1200px) {
  .section {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    padding: 0 2rem;
  }
}
