.clearFilter {
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.clearFilter:hover {
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
}

.filter {
  padding: 2rem 2rem 0 0;
  display: flex;
}

.filter span {
  padding: 1rem;
}

.filter span:first-child {
  background-color: var(--light-grayish-cyan-filter);
  color: var(--desaturated-dark-cyan);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.filter span:last-child {
  background-color: var(--desaturated-dark-cyan);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.filter span:last-child:hover {
  background-color: var(--very-dark-grayish-cyan);
}

.filterBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
